  <body>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6">
          <div class="card border-success mb-3">
            <div class="card-body text-success text-center">
              <h2 class="card-title">We played scissors!</h2>
              <p class="card-text">
                <i class="far fa-hand-scissors fa-10x"></i>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card border-danger mb-3">
            <div class="card-body text-danger text-center">
              <h2 class="card-title">They played <%= @computer_move %>!</h2>
              <p class="card-text">
                <i class="far fa-hand-paper fa-10x"></i>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center">
          <div class="alert alert-danger">
            <h2 class="display-3 text-center">
              We <%= @outcome_scissors %>!
            </h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center">
          <a href="index.html">
            Rules
          </a>
        </div>
      </div>
    </div>
  </body>